{% extends 'base.html.twig' %}

{% block title %}Monitoring{% endblock %}

{% block body %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-2">
    {% for moduleInfo in modulesInfo %}
    <div class="col">
        <div class="card shadow-sm" style="height: 300px; width: 100%;">
            <div class="card-body">
                <h5 class="card-title text-center">{{ moduleInfo.module.nomModule }}</h5>
                <div class="d-flex justify-content-between align-items-center">
                    <p>Etat:
                        {% if moduleInfo.releves|length > 0 %}
                            {% set dernierReleve = moduleInfo.releves|last %}
                            <i class="bi bi-circle-fill {{ dernierReleve.etat ? 'text-success' : 'text-danger' }}"></i>
                            {% else %}
                            <i class="bi bi-circle-fill text-muted"></i>
                        {% endif %}
                    </p>
                    <div>
                        <a href="{{ path('app_view_module', {'id': moduleInfo.module.idModule}) }}" class="btn btn-sm btn-outline-secondary">Détail</a>
                        <a href="{{ path('app_delete_monitoring', {'id': moduleInfo.module.idModule}) }}" class="btn btn-sm btn-outline-secondary"><i class="bi bi-dash-circle"></i></a>
                    </div>
                </div>
                <div>
                    <canvas id="chart-{{ moduleInfo.module.idModule }}" 
                            data-chart-labels="{{ moduleInfo.chartLabels|e('html_attr') }}" 
                            data-chart-data="{{ moduleInfo.chartData|e('html_attr') }}"
                            data-dernier-releve-etat="{{ dernierReleve.etat ? 'true' : 'false' }}"
                            data-module-nom="{{ moduleInfo.module.nomModule }}"></canvas>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col">
        <div class="card shadow-sm" style="height: 300px; width: 100%;">
            <a href="{{ path('app_add_module_monitoring') }}" class="stretched-link d-flex justify-content-center align-items-center link-body-emphasis text-decoration-none" style="height: 100%;">
                <div class="card-body d-flex justify-content-center align-items-center" style="height: 100%;">
                    <span class="bi bi-plus-circle text-secondary " style="font-size: 4em;"></span>
                </div>
            </a>
        </div>
    </div>
</div>

<script src="/asset/javascript/chartModule.js"></script>
{% endblock %}
