{% extends 'base.html.twig' %}

{% block title %}Unités / Mesures{% endblock %}

{% block body %}
<div class="row justify-content-center">

    <div class=" text-center ">
        <h2>Liste des Unités / Mesures</h2>
        <table class="table table-striped table-sm mt-5 ">
            <thead>
                <tr>

                    <th scope="col">Id de l'unité</th>
                    <th scope="col">Nom de l'unité</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for unite in listUnites %}
                <tr>

                    <td>{{unite.idUnite}}</td>
                    <td>{{unite.nomUnite}}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary"
                            href="{{ path('app_edit_unite', {'id': unite.idUnite}) }}" role="button">Editer</a>
                        <a class="btn btn-sm btn-outline-secondary"
                            href="{{ path('app_delete_unite', {'id': unite.idUnite}) }}" role="button">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-lg btn-primary mt-3" href="{{ path('app_add_unite')}}" role="button">Ajout
            d'une unité / mesure</a>
    </div>

</div>
{% endblock %}